doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Freelancer - Start Bootstrap Theme

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.12.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') KAWAL COVID-19
                button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Beranda 
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#portfolio') Beranda
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#') About
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') Informasi

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='https://www.advocaredoctors.com/AdvocareDoctors/media/images/Corona.png', alt='')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Informasi seputar COVID-19
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Situs ini merupakan sumber informasi inisiatif sukarela warganet Indonesia pro-data, terdiri dari praktisi kesehatan, akademisi & profesional.

        // Portfolio Section
        section#portfolio.page-section.portfolio
            .container
                // Portfolio Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Jumlah Kasus di Indonesia Saat Ini
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Portfolio Grid Items
                
                .row
                    // Portfolio Item 1
                    .col-sm-6.col-xs-6.mb-5
                        .info-box
                            .info-box-icon
                            .info-box-content
                                .info-box-text Terkonfirmasi
                                .info-box-number 2098
                    
                    .col-sm-6.col-xs-6.mb-5
                        .info-box
                            .info-box-icon
                            .info-box-content
                                .info-box-text Dalam Perawatan
                                .info-box-number 2342
                    .col-sm-6.col-xs-6.mb-5
                        .info-box
                            .info-box-icon
                            .info-box-content
                                .info-box-text Sembuh
                                .info-box-number 2322
                    .col-sm-6.col-xs-6.mb-5
                        .info-box
                            .info-box-icon
                            .info-box-content
                                .info-box-text Meninggal
                                .info-box-number 8891
                small.text-muted Pembaruan Terakhir
                h6.mb-3 04 April 2020 21:10:10 +07:00
                p.lead.mb-0
                            a(href='https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode.id') Lihat statistic
                            | .
                           
                           
                    
        // Contact Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // Contact Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Apa itu Virus Korona?
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Contact Section Form
                .row
                    .col-lg-8.mx-auto
                        // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
                        p.lead.mb-0 Virus korona adalah sebutan untuk jenis virus yang dapat menyebabkan penyakit pada hewan dan manusia. Disebut korona karena bentuknya yang seperti mahkota (korona ~ crown = mahkota dalam bahasa Latin).
                        p.lead.mt-2 Beberapa contoh penyakit pada manusia yang disebabkan oleh virus korona antara lain MERS (Sindrom Pernafasan Timur Tengah) dan SARS (Sindrom Pernafasan Akut Parah).
                        p.lead.mt-2 Virus korona terbaru yang ditemukan yang ditemukan di Wuhan, Tiongkok, pada bulan Desember 2019 diberi nama SARS Coronavirus 2 (SARS-CoV-2) dan menyebabkan penyakit Coronavirus Disease 2019 (COVID-19).
                        p.lead.mt-2 Sumber : https://www.who.int/news-room/q-a-detail/q-a-coronaviruses
                            
                        
                        
        // Footer
        footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Location
                        p.lead.mb-0
                            | 2215 John Daniel Drive
                            br
                            | Clark, MO 65243
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Around the Web
                        a.btn.btn-outline-light.btn-social.mx-1(href='#')
                            i.fab.fa-fw.fa-facebook-f
                        a.btn.btn-outline-light.btn-social.mx-1(href='#')
                            i.fab.fa-fw.fa-twitter
                        a.btn.btn-outline-light.btn-social.mx-1(href='#')
                            i.fab.fa-fw.fa-linkedin-in
                        a.btn.btn-outline-light.btn-social.mx-1(href='#')
                            i.fab.fa-fw.fa-dribbble
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 About Kawal covid-19
                        p.lead.mb-0
                            a(href='https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode.id') Creative Commons Atribusi-NonKomersial-TanpaTurunan 4.0 Internasional
                            | .
        // Copyright Section
        section.copyright.py-4.text-center.text-white
            .container
                small Copyright © Kawal covid-19 2020
        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-to-top.d-lg-none.position-fixed
            a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
                i.fa.fa-chevron-up

       
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')
